[submodule "modules/miniserver/private-module"]
	path = modules/machine/miniserver/private-module
	url = git@github.com:jnccd/nixos-config-miniserver-private-module.git
[submodule "secrets"]
	path = secrets
	url = git@github.com:jnccd/nixos-config-secrets.git
